{% extends "base.html" %} 
{% load static %} 


{% block content %} 

<!--hero image section-->
<section id="home header-container">
<div class ="jumbotron">
    <div class = "intro">
    <h1>Trade, blog, and learn about rare and <br> beautiful early 20th-century paper collectibles</h1>
    </div>
    <div class="view-shop-button">
    <a class = "btn btn-sm" href ="{% url 'onlineshop' %}">View Products</a>
</div>
</div>
</section>
<!-- About section-->
<section id="about">
<div class="container px-4">
    <div class="row gx-4 justify-content-center">
        <div class="col-lg-8">
            <h1 class= "text-center mb-5">About this shop</h1>
            <p class="lead text-justify mb-5">This site offers a fine selection of original art prints from around the globe.
                You can also contribute to our blog and help our community of paper art traders and affictionados grow. The focus is on paper collectibles from around 1900, 
                such as advertising cards developed from around 1905 by Swiss editor and entrepreneur
                Karl Wilhelm Bührer (1861-1917) under the aegis of the International Mono Society. 
                These so-called "Mono cards" or "Monos" are currently the bulk of what is on offer,
                but I hope to be able to display more vintage art posters and prints, as well as stamps in the near future.
                </p>
        </div>
    </div>
</div>
</section>
<!-- New Arrivals-->
<section id="new_arrivals">
<div class="container">
    <div class="row gx-4 justify-content-center">
<h1 class= "text-center mb-5">New Arrivals</h1>
<div class="row py-5">
    {% for product in products %}
    {% if product.category.name == 'new_arrivals' %}
    <div class=" col-sm-6 col-md-6 col-lg-6 col-xl-4">
        <div class="card shadow-lg">
            <a href="{% url 'product_detail' product.id %}">
                {% if product.image %}            
                <img class="card-img-top rounded-top img-fluid img-thumbnail"
                    src="{{ product.image.url }}" alt="{{ product.name }}">
            </a>
                {% else %}
                <img class="w-100" src="{{ MEDIA_URL }}no_image.png" alt = "{{ item.product.name }}">
                {% endif %}
            <div class="card-body pb-0">
                <p class="mb-0 lead font-weight-bold">{{ product.name }}</p>
                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                </small>
            {% endif %}
                <div class="row">
                    <div class="col">
                        <p class="mb-0 text-left">{{ product.author }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-start">
                        {% if product.year %}
                    </div>
                    <div class="col">
                        <p class="mb-0 font-italic">{{product.year}}</p>
                        {% else %}
                        <p class="mb-0 ml-2 w-100">Date:<span class="font-italic">
                                N/A<span></p>
                        {% endif %}
                        {% if product.category %}
                        <p class="mb-0">
                            <a class="text-muted"
                                href="{% url 'onlineshop' %}?category={{ product.category.name }}">
                                <i class="fas fa-tag mr-1"></i>
                                {{ product.category.friendly_name}}
                            </a>
                        </p>
                        {% endif %}
                        <p class="lead mb-0 text-right font-weight-bold">
                            £{{ product.price }}</p>
                    </div>
                </div>
            </div>
            <div class="card-footer pt-0 d-flex justify-content-end">
                <a href="{% url 'product_detail' product.id %}"
                    class="btn"><i class="fas fa-eye"></i> View
                    Details</a>
            </div>
        </div>
    </div>
    {% endif %}
    
    {% endfor %}
</div>
</div>
</div>
</div>
<div class="row">
    <div class="col-12 text-center">
<a href="{% url 'onlineshop' %}" class="btn btn-dark rounded-1 mt-2 mb-5">
    <span class="text-center text-uppercase">See Collection</span>
</a>
    </div>
</div>
</div>
</div>  
</section>

<section id ="contact">
    <div class="container">
        <div class="col-md-6 col-lg-12" id="form_container">
            <h1 class ="text-center mt-4 mb-5">Contact Us</h1>
            <p>
               Please send your message below. We will get back to you at the earliest!
            </p>
            <form role="form" method="post" id="reused_form">
    
                <div class="row">
                    <div class="box-element col-sm-12 form-group">
                        <label for="message">
                            Message:</label>
                        <textarea class="form-control" type="textarea" name="message" id="message" maxlength="6000" rows="7"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group box-element">
                        <label for="name">
                            Your Name:</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="col-sm-6 form-group box-element">
                        <label for="email">
                            Email:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group d-flex justify-content-end">
                        <a class="btn btn-dark rounded-1 mr-1" href="{% url 'home' %}">Cancel</a>
                <button class="btn btn-dark rounded-1" type="submit">Send
                    <i class="far fa-paper-plane "></i>
                    </div>
                </div>
    
</section>




{% endblock %}