{% extends "base.html" %} 
{% load static %} 


{% block content %} 

<!--hero image section-->
<section id="home header-container">
<div class ="jumbotron">
    <div class = "intro">
    <h1>Trade, blog, and learn about rare and <br> beautiful early 20th-century paper collectibles</h1>
    </div>
    <div class="view-shop-button">
    <a class = "rounded-1 btn btn-sm" href ="{% url 'onlineshop' %}">View Products</a>
</div>
</div>
</section>
<!-- About section-->
<section id="about">
<div class="container px-4">
    <div class="row gx-4 justify-content-center">
        <div class="col-lg-8">
            <h1 class= "text-center">About this shop</h1>
            <p class="lead">This site offers a fine selection of original art prints from around the globe.
                The focus is on paper collectibles from around 1900, such as advertising cards developed from around 1905 by Swiss editor and entrepreneur
                Karl Wilhelm Bührer (1861-1917). These so-called "Mono cards" or "Monos" are currently the bulk of what is on offer,
                but I hope to be able to display more vintage art posters and prints, and stamps in the near future.
                You can also contribute to our blog and help our community of paper art traders and affictionados grow.
                
                </p>
        </div>
    </div>
</div>
</section>
<!-- New Arrivals-->
<section id="new_arrivals">
<div class="container">
    <div class="row gx-4 justify-content-center">
<h1 class= "text-center ">New Arrivals</h1>
<div class="row py-5">
{% for product in products %}
{% if product.category == 'new_arrivals' %}
<div class=" col-sm-6 col-md-6 col-lg-6 col-xl-4">
    <div class="card shadow-lg">
        <a href="{% url 'product_detail' product.id %}">
            <img class="card-img-top rounded-top img-fluid img-thumbnail" src="{{ product.image.url }}" alt="{{ product.name }}">
        </a>
        <div class="card-body pb-0">
            <p class="mb-0 lead font-weight-bold">{{ product.name }}</p>
        
        <div class="row">
            <div class="col">
                <p class="mb-0 text-left">{{ product.author }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if product.year %}
            </div>
            <div class="col">
                <p class="mb-0 font-italic">{{product.year}}</p>
                {% else %}
                <p class="mb-0">Date:<span class ="font-italic"> N/A<span></p>
                {% endif %}
                {% if product.category %}
                <p class= "mb-0">
                    <a class="text-muted" href="{% url 'onlineshop' %}?category={{ product.category.name }}">
                        <i class = "fas fa-tag mr-1"></i> {{ product.category.friendly_name}}
                    </a>
                </p>
                {% endif %}
                <p class="lead mb-0 text-right font-weight-bold">£{{ product.price }}</p>
            </div>
        </div>
        </div>
            <div class="card-footer pt-0 d-flex justify-content-end">
                <a href="{% url 'product_detail' product.id %}" class="btn mr-2 "><i class="fas fa-eye"></i> View Details</a>
            <a href="#" class="btn mr-2"> <i class="fas fa-shopping-cart justify-content-end"></i> Add to Cart</a>
            </div>
        </div>
    </div>
    {% endif %}
    
    {% endfor %}
</div>
</div>
</div>
</div>
</div>
</div>  
</section>

<section class ="contact">
    <div class="row">
        <div class="col-md-6 col-md-offset-3" id="form_container">
            <h2>Contact Us</h2>
            <p>
               Please send your message below. We will get back to you at the earliest!
            </p>
            <form role="form" method="post" id="reused_form">
    
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label for="message">
                            Message:</label>
                        <textarea class="form-control" type="textarea" name="message" id="message" maxlength="6000" rows="7"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for="name">
                            Your Name:</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="email">
                            Email:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                </div>
    
    
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <button type="submit" class="btn btn-lg btn-default pull-right" >Send →</button>
                    </div>
                </div>
    
</section>




{% endblock %}