

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Old Standard TT', serif;

}    


.nav-link {

    color: #dfdcd3;
    font-weight: 600;

}

.navbar-brand {

    color: #dfdcd3;
    font-size: 30px;
    font-weight: 600;
}

.navbar-toggler {

    color: #dfdcd3!important;
    outline: none!important;
    border: none!important;

}

.navbar-toggler .fa {
    color: #dfdcd3;
}


.navbar-nav li a:hover {

    color: #618BB2;
}

.navbar-brand:hover {

    color: #618BB2;
}

.fas:hover {

    color: #618BB2;
} 

.fa-search {

    color:#dfdcd3;
}

.fa-search:hover {

    color: #618BB2;
}
.search-input-field {

    background-color:#dfdcd3;
    border-radius: 4px;
}

input[name='q']::placeholder {
    color: #413e3b;
}

.text-info {

    color: #618BB2;

}

.header-container {

    padding-top: 145px;
    padding-bottom: 20px;
}


/** landing page**/

.jumbotron {
    background-image: url('/static/img/home/hero_image.jpg');
    height: 140vh;
    background-position: relative;
    background-size: cover;
    border-radius: 0px!important;
}

.jumbotron h1 {

    margin: 30px 0;
    color: #c95939;
    font-size: 45px;
    font-weight: 600;
    display: table-cell;
    text-align: right;
    vertical-align: middle;

}

.intro {
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;


}

.view-shop-button{

    background-color: #618BB2;
    float: right;

}

.view-shop-button:hover{
  
    background-color: #c95939;
    transition: 0.6;
}

/**all dark buttons **/

.btn-dark {

    margin-bottom: 20px;
}

/**---- Footer ----**/

footer {

    width: 100%;
    background-color: #343a40;
    padding: 5% 5% 10% 5%;
    color: #dfdcd3;
    height: 200px;

}

.fa {

    padding: 15px;
    font-size: 20px;
    color:#dfdcd3;
}

.fa:hover {

    color: #618BB2;
    text-decoration: none;

}

.brandlogo {

    max-width: 70px;
}
/**---- Online Shop ----**/


#dropdownMenuLink {

    background-color: #343a40;
    color: #DFDCD3;
}

.btt-button {

    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #343a40;
    
}

.btt-button i {

    color: #DFDCD3;
}
.btt-link,
.remove-item {
    cursor: pointer;
}

.message-container {
    position:fixed;
    top: 72px;
    right:15px;
    z-index: 9999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;

}

.toast-header,
.toast-body {

    background-color: #dfdcd3;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/** cart preview as message**/

.free-delivery {

    background-color: #c95939;
    color: white;
}


/**---- Cart ----**/

.box-element {
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    background-color: #dfdcd3;
    border-radius: 4px;
    padding: 10px;
}

.btn-lg {

    float: right;
    margin: 5px;
    color: #343a40;
    
}

.img-fluid {
    width: 100px;
}

/* checkout */

#payment-form .form-control ,
#card-element {

    color:#343a40;
    border: 1px solid #343a40;
}

.fieldset-label {
    position: relative;
    right: 5rem
}

/* adjusted from stripe documentation under
    https://stripe.com/docs/stripe-js */

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

/* overlay spinner */

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(97, 139, 178, 0.8);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}



/* all allauth templates */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #343a40;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #413e3b;
}

/*profile template*/

#profile-update-form input::placeholder {
    color: #413e3b;
}

/* order history template*/

.order-history {
    max-height: 416px; /*=height of profile forma & button, above => scrollbar*/
    overflow-y: auto;
}


/* blog */


.box-element.blog {
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    background-color: #dfdcd3;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;

}

  
  .article-title {
    color: #413e3b;
  }
  
  a.article-title:hover {
    color: #618BB2;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    /*border-bottom: 1px solid #413e3b;*/
  }
  
  .article-metadata a:hover {
    color: #413e3b;
    text-decoration: none;
  }
  


@media (max-width: 991px) {

}
.nav-link {
    padding: 0.15rem;
}

.nav-link i.fa-lg {
    font-size: 1rem;
}

.navbar-toggler {
    padding: .6rem .6rem;
    font-size: 1rem;
   
}
/*
.btn.btn-secondary
.btn.btn-dark.rounded-1
.btn-dark.btn-lg {
        padding: .375rem .375rem;
    }

.btn.btn-secondary
.btn.btn-dark.rounded-1
.btn-dark.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }*/
}