body {
    color: black;
    font-family: 'Old Standard TT', serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}    

.nav-link {

    color: black;
    font-weight: 600;

}



  