

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Old Standard TT', serif;

}    

body {
    color: #413e3b;
}

.logo-font {

    text-transform: uppercase;
    padding-bottom: 40px;
}

.nav-link {

    color: #dfdcd3;
    font-weight: 600;

}

.navbar-brand {

    color: #dfdcd3;
    font-size: 30px;
    font-weight: 600;
}

.carousel-caption {

    position: absolute;
    top: 15%;
    transform: translateY(+40%);
    transform: translateX(+42%);
    

}
.carousel-caption h1 {

    color: #c95939;
    font-size: 70px;
    font-weight: 600;

}

.view-shop-button{

    background-color: #c95939;
    height: 45px;
    width: 175px;
    color: #413e3b;
    outline: none;
    border: none;
    border-radius: 20%;

}

.view-shop-button:hover{
  
    background-color: #618BB2;
    color: #dfdcd3;
    transition: 0.6;
}

/**---- Online Shop ----**/

.header-container {

    padding-top: 145px;
    padding-bottom: 20px;
}

#dropdownMenuLink {

    background-color: #343a40;
    color: #DFDCD3;
}