    {% extends "base.html" %}
    {% load static %}

    {% block page_header %}

    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>

    </div>

    {% endblock %}


    {% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 offset-lg-3">
                    <div class="image-container">                        
                        {% if item.product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top rounded-top img-fluid img-thumbnail" src="{{ product.image.url }}"
                                alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <img class="w-100" src="{{ MEDIA_URL }}no_image.png" alt = "{{ item.product.name }}">
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="product-details-container">
                        {% if product.category %}
                        <p class="mb-0 text-left">
                            <a class="text-muted" href="{% url 'onlineshop' %}?category={{ product.category.name }}">
                                <i class="fas fa-tag mr-1"></i> {{ product.category.friendly_name}}
                            </a>
                        </p>
                        {% endif %}
                        <h3 class="product-title font-weight-bold">{{ product.name }}</h3>
                        <div class="row">
                            {% if product.year %}
                            <p class="mb-1 text-center font-italic">{{product.year}}</p>
                            {% else %}
                            <p class="mb-0 text-left">Date: <span class="font-italic"> N/A</span></p>
                            {% endif %}
                        </div>
                        <h4 class="mb-3 mt-2">£{{ product.price }}</h4>
                        <h4 class="mb-3"> {{ product.author }}</h4>
                        <h6 class="mb-1"><u>Description:</u></h6>
                        <p class="product-description mb-3"> {{ product.description }}</p>
                        <h6 class="mb-1"><u>Condition:</u></h6>
                        <p class="product-condition"> {{ product.condition }}</p>
                        <h6 class="mb-1"><u>Dimension:</u></h6>
                        <p class="product-dimension"> {{ product.dimension }}</p>
                        {% if request.user.is_superuser %}
                                                <small class="ml-3">
                                                    <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                                </small>
                                            {% endif %}
                        <form class="form" action=" {% url 'add_to_cart' product.id %}" method="POST">
                    {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-1"><strong>Quantity:</strong></p>
                                <div class="form-group">
                                    <input class="form-control qty_input" type="number" name="quantity" value="1" max="1" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                </div>
                            </div>
                            <div class="col-12 ">
                                <a href="{% url 'onlineshop' %}" class="btn btn-dark rounded-1 mt-2">
                                    <span class="">
                                        <i class="fas fa-long-arrow-alt-left"></i>
                                    </span>
                                    <span class="">Continue Shopping</span>
                                </a>
                                <input type="submit" class="btn-dark btn-lg rounded-1" value="Add to Cart">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
        {% endblock %}